In [191]:
import chart_studio
chart_studio.tools.set_credentials_file(username='weixingnie', api_key='Wh94yg2oBnkYjHG2soDY')

In [192]:
import plotly

import plotly.express as px
import csv
import pandas as pd
import chart_studio.plotly as py
import plotly.graph_objects as go

In [193]:
dataSet = pd.read_csv("external-debt.csv")

In [194]:
dataSet.columns

Index(['Country Name', 'Country Code', 'Year',
       'Current account balance (BoP, current US$)',
       'Debt service (PPG and IMF only, % of exports of goods, services and primary income)',
       'Debt service on external debt, long-term (TDS, current US$)',
       'Debt service on external debt, private nonguaranteed (PNG) (TDS, current US$)',
       'Debt service on external debt, public and publicly guaranteed (PPG) (TDS, current US$)',
       'Debt service on external debt, total (TDS, current US$)',
       'Exports of goods, services and primary income (BoP, current US$)',
       'Foreign direct investment, net inflows (BoP, current US$)',
       'GNI (current US$)',
       'Grants, excluding technical cooperation (BoP, current US$)',
       'IMF repurchases and charges (TDS, current US$)',
       'Imports of goods, services and primary income (BoP, current US$)',
       'Multilateral debt service (% of public and publicly guaranteed debt service)',
       'Multilateral debt service (TDS, current US$)',
       'Net ODA received per capita (current US$)',
       'Net official development assistance received (current US$)',
       'PNG, bonds (NTR, current US$)', 'PNG, bonds (TDS, current US$)',
       'PNG, commercial banks and other creditors (NTR, current US$)',
       'PNG, commercial banks and other creditors (TDS, current US$)',
       'PPG, IBRD (TDS, current US$)', 'PPG, IDA (TDS, current US$)',
       'PPG, bilateral (TDS, current US$)',
       'PPG, bilateral concessional (TDS, current US$)',
       'PPG, bonds (NTR, current US$)', 'PPG, bonds (TDS, current US$)',
       'PPG, commercial banks (NTR, current US$)',
       'PPG, commercial banks (TDS, current US$)',
       'PPG, multilateral concessional (NTR, current US$)',
       'PPG, multilateral concessional (TDS, current US$)',
       'PPG, official creditors (NTR, current US$)',
       'PPG, official creditors (TDS, current US$)',
       'PPG, other private creditors (NTR, current US$)',
       'PPG, other private creditors (TDS, current US$)',
       'PPG, private creditors (NTR, current US$)',
       'PPG, private creditors (TDS, current US$)',
       'Personal remittances, received (current US$)',
       'Portfolio equity, net inflows (BoP, current US$)',
       'Public and publicly guaranteed debt service (% of GNI)',
       'Public and publicly guaranteed debt service (% of exports of goods, services and primary income)',
       'Technical cooperation grants (BoP, current US$)',
       'Total amount of debt rescheduled (current US$)',
       'Total debt service (% of GNI)',
       'Total debt service (% of exports of goods, services and primary income)',
       'Total reserves (% of total external debt)',
       'Total reserves (includes gold, current US$)',
       'Total reserves in months of imports',
       'Undisbursed external debt, official creditors (UND, current US$)',
       'Undisbursed external debt, private creditors (UND, current US$)',
       'Undisbursed external debt, total (UND, current US$)'],
      dtype='object')

In [195]:
selectedCountry = dataSet[(dataSet['Country Name'] == 'China') | (dataSet['Country Name'] == 'Japan') | (dataSet['Country Name'] == 'United States') ]

In [199]:
fig = px.scatter(selectedCountry, x = 'Year', y = "Total reserves (includes gold, current US$)", color = 'Country Name', title = "Country storage Gold from 1960 to 2020")
py.iplot(fig, filename = 'Reserves In US dollars')

In [200]:
balance = selectedCountry[['Year', "Current account balance (BoP, current US$)", "Country Name"]]
balance = balance.sort_values(by='Year', ascending=True)

In [202]:
fig = px.line(balance, x="Year", y="Current account balance (BoP, current US$)", color="Country Name",
              line_group="Country Name")
py.iplot(fig, filename = 'Account Balance from 1960 to 2020')

In [144]:
SandP = pd.read_csv("SP500.csv")

In [145]:
SandP['JPN'] = SandP['JPN'] / 10

In [146]:
SandP

         DATE        SP500          SSE    TNX          JPN         GOLD
0    4/1/2016  2075.535238  2929.605957  1.488  1557.591992  1318.400024
1    5/1/2016  2065.550952  2979.339111  1.458  1656.926953  1349.000000
2    6/1/2016  2083.891364  3085.490967  1.568  1688.740039  1306.900024
3    7/1/2016  2148.902000  3004.702881  1.608  1644.983984  1313.300049
4    8/1/2016  2177.482174  3100.491943  1.834  1742.501953  1271.500000
..        ...          ...          ...    ...          ...          ...
56  12/1/2020  3695.310000  3509.080078  1.460  2896.600977  1930.200000
57   1/1/2021  3793.748421  3441.909912  1.746  2917.880078  1910.030000
58   2/1/2021  3883.432105  3446.860107  1.631  2881.263086  1919.030000
59   3/1/2021  3910.508261  3506.939941  1.634  2809.825000  1900.000000
60   4/1/2021  4141.176190  3483.069092  1.631  2881.263086  1902.500000

[61 rows x 6 columns]

In [147]:
SandP = SandP.melt(id_vars=['DATE', 'TNX', 'GOLD'])
SandP

          DATE    TNX         GOLD variable        value
0     4/1/2016  1.488  1318.400024    SP500  2075.535238
1     5/1/2016  1.458  1349.000000    SP500  2065.550952
2     6/1/2016  1.568  1306.900024    SP500  2083.891364
3     7/1/2016  1.608  1313.300049    SP500  2148.902000
4     8/1/2016  1.834  1271.500000    SP500  2177.482174
..         ...    ...          ...      ...          ...
178  12/1/2020  1.460  1930.200000      JPN  2896.600977
179   1/1/2021  1.746  1910.030000      JPN  2917.880078
180   2/1/2021  1.631  1919.030000      JPN  2881.263086
181   3/1/2021  1.634  1900.000000      JPN  2809.825000
182   4/1/2021  1.631  1902.500000      JPN  2881.263086

[183 rows x 5 columns]

In [149]:
SandP.value.max()

4141.17619

In [203]:
fig = px.scatter(SandP, x= 'GOLD', y= 'value', animation_frame="DATE", animation_group="variable",
            color="variable", size = 'value' ,  hover_name="variable", range_y= [1500, 4500], range_x=[1000, 2000],
          labels=dict(GOLD = 'Gold Price in Dollar', value = 'Stock Market Closing Price in Dollar', variable = 'Market Standard'))
fig.layout.updatemenus[0].buttons[0].args[1]['frame']['duration'] = 200
py.iplot(fig, filename = 'Gold and Stock Market Performance')